<div class="container mt-5">
  <nav class="navbar navbar-expand-lg navbar-light my-navbar mb-4"> 
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", height: "30", alt: "Logo" %> <div class="d-inline-block align-middle">CardCharges</div> 
      <% end %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.email %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Editar perfil', edit_user_registration_path, class: "dropdown-item" %></li>
                <li><hr class="dropdown-divider"></li>
                <li><%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <%= form_with url: card_charges_path, method: :post do |form| %>
            <div class="mb-3">
              <%= form.label :card_type, "Tarjeta", class: "form-label" %>
              <%= select_tag :card_type, options_from_collection_for_select(Card.all, :id, :name, params[:card_type]), prompt: "Seleccione una tarjeta", class: "form-select" %> 
            </div>
            <div class="mb-3">
              <%= form.label :file, "Archivo", class: "form-label" %>
              <%= form.file_field :file, class: "form-control" %>
            </div>
            <%= form.submit 'Procesar archivo', class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="text-center">
    <%= link_to "Asignar categorias manualmente", assign_categories_card_charges_path, class: "btn btn-primary" %>
    <%= link_to "Asignar categorias automáticamente", categorize_charges_path, class: "btn btn-primary" %> 
    <hr>
    <%= link_to "CRUD categorías", categories_path, class: "btn btn-primary" %> 
    <%= link_to "CRUD proveedores", vendors_path, class: "btn btn-primary" %>
    <%= link_to "CRUD tarjetas", cards_path, class: "btn btn-primary" %>
    <hr>
    <%= link_to "Reporte de cargos detallado", monthly_report_card_charges_path, class: "btn btn-primary" %>
    <%= link_to "Reporte mensual por categoría", charges_by_month_card_charges_path, class: "btn btn-primary" %>
    <hr>
    <% if user_signed_in? %> <div class="text-center mb-4">
      <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>