<div class="container mt-5"> 
  <% if notice.present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Category Details</h5>
      <p class="card-text"><strong>Name:</strong> <%= @category.name %></p>
    </div>
    <div class="card-footer d-flex justify-content-between"> <%# Align buttons %>
      <%= link_to "Editar", edit_category_path(@category), class: "btn btn-secondary btn-sm" %>
      <%= link_to "Regresar a categorias", categories_path, class: "btn btn-outline-secondary btn-sm" %>
      <%= button_to "Borrar", @category, method: :delete, data: { confirm: "¿Estás seguro que quieres borrar la categoría?" }, class: "btn btn-danger btn-sm" %>
    </div>
  </div>
</div>